<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Prairie CMS</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href='http://fonts.googleapis.com/css?family=Lustria&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/kendo.common.min.css")
        @Styles.Render("~/Content/kendo.bootstrap.min.css")
        <link href="/Content/PrairieCMS.css" rel="stylesheet" />
        <!--[if IE 6]>
        <link rel="stylesheet" type="text/css" href="/Content/ie6.css" />
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="/Content/ie7.css" />
        <![endif]-->
          <!--[if IE 8]>
            <link rel="stylesheet" type="text/css" href="/Content/ie8.css" />
        <![endif]-->
        @RenderSection("styles", required: false)

        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
    
<div class="container-fluid">
        
        <div id="bodyofwrapper">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
       
            <div class="content-wrapper ">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Prairie Software <a href="http://prairiesoft.co"><small>(http://prairiesoft.co)</small></a></p>
                </div>
                <section id="login"  class="float-right">
                        @Html.Partial("_LoginPartial")
                    </section>
            </div>
        </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
